/CommandLine-Application/CommandLine-App/bin
/CommandLine-Application/CommandLine-App/obj

/CommandLine-Application/CommandLine-AppTests/bin
/CommandLine-Application/CommandLine-AppTests/obj

/ConsoleAppTest